<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="Somke">
        <classes>
            <class name="tests.AlertTest">
                <methods>
                    <include name="testSum"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name = "Regression tests">
        <classes>
            <class name="tests.FrameTest"/>
        </classes>
    </test>
</suite>